.tickets-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.tickets-sort {
  padding-bottom: 30px;
  width: 500px;
}

.tickets-alert {
  padding: 30px 0;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.spinner {
  padding: 10px;
  margin-bottom: 25px;
}

.tickets-add {
  padding-bottom: 50px;
}